# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker build files
Dockerfile
docker-compose.yml
.dockerignore

# Git files
.git/
.gitignore

# Environment files
.env

# Build files
dist/

# Misc
.DS_Store